.logo{
    width: 150px;
    height: auto;
}
.nav-link{
    color:#8e3031 !important;
    font-weight: bold;

}
.card-header{
    background-color: rgba(142, 48, 49, 0.3) !important;
    color: #8e3031;
}
.submit{
    background-color: rgba(134, 29, 31, 0.8) !important;
    border:1px solid #8e3031;
    
}
.submit:hover{
    border:1px solid #8e3031;
}
.dash{
    display: block;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    color:#8e3031;
    font-weight: bold;
    border:1px solid #8e3031;
    border-radius: 5px;
    background-color: rgba(134, 29, 31, 0.1) !important;
}
.dash:hover{
    color:#8e3031;
    box-shadow: 2px 2px #e8d5d5, -2px 2px #e8d5d5 , 2px -2px #e8d5d5, -2px -2px #e8d5d5;
}